#message {
    width: 75%;
    max-width: 900px;
    border: 1px solid rgba(204, 198, 198, 0.486);
    border-radius: 30px 0 0 30px;
    padding: 20px;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    resize: none;
    display: inline-block;
    text-align: left;
    position:relative;
    height: 90%;
    box-sizing: border-box;
    overflow: hidden;
}

#message:focus, #message:focus + #send {
    border: 1px solid rgba(27, 69, 131, 0.486);
    box-shadow: 0px 0px 2px #0066ff;
    outline: none;
}
#send {
    width: 15%;
    max-width: 100px;

    border: 1px solid rgba(204, 198, 198, 0.486);
    border-radius: 0 30px 30px 0;

    font-size: 20px;
    position:absolute;
    height: 90%;
    box-sizing: border-box;

}

#send:hover {
    cursor: pointer;
    background-color: rgb(8, 6, 104);
    color: white;
}

.container {
    position:relative;
    width: 100%;
    background-color: rgb(241, 241, 241);
    height: 8.2vh;
}